@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: local('#{$file_name}'),
        url("../fonts/#{$file_name}.woff") format("woff"), 
        url("../fonts/#{$file_name}.woff2") format("woff2"),
        url("../fonts/#{$file_name}.ttf") format('truetype');
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import 'fonts.scss';
@import 'base/ibg';
@import 'libs/bootstrap-reboot.min';
@import 'libs/animate';
@import 'libs/fonts';
@import 'libs/slick';
@import 'base/variables';
@import 'base/mixins';

*{
    font-family: "MuseoSansCyrl", sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
}
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    font-size: 0; 
    flex-direction: column;
    z-index: 1;
}
.main-screen{
    flex: 1 0 100%;
    position: relative;
    
    &__bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/benefit';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'base/animations';
@import 'base/null';

// .fullscreen{
//     min-height: 100vh;
//     //! контейнер для фул скріна
//     &__body{
//         flex: 1 1 auto;
//         width: 100%;
//         max-width: 1200px;
//         margin: 0 auto;
//         text-align: center;
//     }
//     //! контейнер для контенту завдяки якому ми налазимо на фоновий об'єкт
//     &__wrapper{
//         position: absolute;
//         width: 100%;
//         top: 0;
//         left: 50%;
//         transform: translateX(-50%);
//         padding: 20px;
//         @media(max-width: 767px){
//             padding: 10px
//         }
//         @media(max-width: 320px){
//             padding: 5px
//         }
//     }
// }


// .main-screen{
//     position: relative;
//     flex: 1 0 100%;
//     padding: 23.64% 0;
//     &__bg{
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//     }
//     @media(max-width: 767px){
//         padding: 30% 0;
//     }
//     @media(max-width: 560px){
//         padding: 40% 0;
//     }
//     @media(max-width: 400px){
//         padding: 47% 0;
//     }
//     @media(max-width: 320px){
//         padding: 40% 0;
//     }
// }
